.add-category-popup__close-btn {
  width: 32px;
  height: 32px;
  background-image: url(../../../images/cancel.png);
  border: none;
  border-radius: 50%;
  background-color: white;
  background-position: center;
  background-size: contain;
  float: right;
}

.add-category-popup__close-btn:hover {
  opacity: 60%;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .add-category-popup__close-btn {
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}