.loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 10px solid #4e4c4c;
  border-top: 10px solid #ffffff;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
  margin-top: 20px;
  margin-bottom: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}