.footer {
  color: #545454;
  padding: 0 0 60px 0px;
  text-align: center;
}

@media screen and (max-width: 1279px) {
  .footer {
    padding: 0 0 36px 0;
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    padding: 0 0 36px 0;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 0 0 36px 19px;
  }
}