.registration__form__submit {
    background-color: #FFFFFF;
    color: black;
    width: 50%;
    padding: 18px;
    border: 3px solid black;
    border-radius: 12px;
    cursor: pointer;
    font-size: 30px;
    font-weight: 700;
    line-height: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}