.profile__delete-btn {
  width: 28px;
  height: 28px;
  background-image: url(../../../images/cancel.png);
  border: none;
  border-radius: 50%;
  background-color: white;
  background-position: center;
  background-size: contain;
  margin-left: 10px;
}

.profile__delete-btn:hover {
  opacity: 60%;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .profile__delete-btn {
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}