.registration__question-btn {
    padding: 8px 16px;
    border-radius: 30px;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    font-size: 28px;
    font-weight: 700;
    cursor: pointer;
}
