@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/body/body.css);
@import url(./blocks/main/main.css);
@import url(./blocks/main/__chart-select-div/main__chart-select-div.css);
@import url(./blocks/main/__chart-option/main__chart-option.css);
@import url(./blocks/main/__chart-div/main__chart-div.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__buttons-div/header__buttons-div.css);
@import url(./blocks/header/__button/header__button.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__text/footer__text.css);
@import url(./blocks/login/login.css);
@import url(./blocks/login/__form/login__form.css);
@import url(./blocks/login/__form/__input/login__form__input.css);
@import url(./blocks/login/__form/__submit/login__form__submit.css);
@import url(./blocks/login/__heading/login__heading.css);
@import url(./blocks/login/__question-block/login__question-block.css);
@import url(./blocks/login/__question-btn/login__question-btn.css);
@import url(./blocks/login/__error/login__error.css);
@import url(./blocks/registration/registration.css);
@import url(./blocks/registration/__form/registration__form.css);
@import url(./blocks/registration/__form/__input/registration__form__input.css);
@import url(./blocks/registration/__form/__submit/registration__form__submit.css);
@import url(./blocks/registration/__heading/registration__heading.css);
@import url(./blocks/registration/__question-block/registration__question-block.css);
@import url(./blocks/registration/__question-btn/registration__question-btn.css);
@import url(./blocks/registration/__error/registration__error.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__icon/profile__icon.css);
@import url(./blocks/profile/__add-block/profile__add-block.css);
@import url(./blocks/profile/__change-btn/profile__change-btn.css);
@import url(./blocks/profile/__delete-btn/profile__delete-btn.css);
@import url(./blocks/profile/__category/profile__category.css);
@import url(./blocks/profile/__operation/profile__operation.css);
@import url(./blocks/profile/__headers/profile__headers.css);
@import url(./blocks/profile/__select-div/profile__select-div.css);
@import url(./blocks/profile/__option/profile__option.css);
@import url(./blocks/add-category-popup/add-category-popup.css);
@import url(./blocks/add-category-popup/__open/add-category-popup__open.css);
@import url(./blocks/add-category-popup/__close-btn/add-category-popup__close-btn.css);
@import url(./blocks/add-category-popup/__input-div/add-category-popup__input-div.css);
@import url(./blocks/add-category-popup/__input-category/add-category-popup__input-category.css);
@import url(./blocks/add-category-popup/__save-category-btn/add-category-popup__save-category-btn.css);
@import url(./blocks/add-category-popup/__select-type/add-category-popup__select-type.css);
@import url(./blocks/budget-popup/budget-popup.css);
@import url(./blocks/budget-popup/__open/budget-popup__open.css);
@import url(./blocks/budget-popup/__close-btn/budget-popup__close-btn.css);
@import url(./blocks/budget-popup/__input-div/budget-popup__input-div.css);
@import url(./blocks/budget-popup/__input-budget/budget-popup__input-budget.css);
@import url(./blocks/budget-popup/__save-budget-btn/budget-popup__save-budget-btn.css);
@import url(./blocks/add-operation-popup/add-operation-popup.css);
@import url(./blocks/add-operation-popup/__header/add-operation-popup__header.css);
@import url(./blocks/add-operation-popup/__open/add-operation-popup__open.css);
@import url(./blocks/add-operation-popup/__close-btn/add-operation-popup__close-btn.css);
@import url(./blocks/add-operation-popup/__input-div/add-operation-popup__input-div.css);
@import url(./blocks/add-operation-popup/__input-operation/add-operation-popup__input-operation.css);
@import url(./blocks/add-operation-popup/__save-operation-btn/add-operation-popup__save-operation-btn.css);
@import url(./blocks/avatar-popup/avatar-popup.css);
@import url(./blocks/avatar-popup/__open/avatar-popup__open.css);
@import url(./blocks/avatar-popup/__close-btn/avatar-popup__close-btn.css);
@import url(./blocks/avatar-popup/__input-div/avatar-popup__input-div.css);
@import url(./blocks/avatar-popup/__input-avatar/avatar-popup__input-avatar.css);
@import url(./blocks/avatar-popup/__save-avatar-btn/avatar-popup__save-avatar-btn.css);
@import url(./blocks/avatar-popup/__cancel-avatar-btn/avatar-popup__cancel-avatar-btn.css);
@import url(./blocks/avatar-popup/__preview/avatar-popup__preview.css);
@import url(./blocks/loader/loader.css);