.profile__icon {
  width: 200px;
  height: 200px;
  background-color: #ffffff;  
  border-radius: 50%;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .profile__icon {
    max-width: 103px;
    max-height: 103px;
    border-radius: 50%;
    object-fit: cover;
  }
}