.profile__icon {
  max-width: 142px;
  margin: 0 0 41px 0;
  background-color: #ffffff;  
  border-radius: 50%;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .profile__icon {
    max-width: 103px;
    margin: 0 0 31px 0;
  }
}