.profile__change-btn {
    background: url(../../../images/pencil.png);
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    border: none;
    background-color: white;
}

.profile__change-btn:hover {
  opacity: 60%;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .profile__change-btn {
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}