.add-operation-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  border-radius: 10px;
  display: flex;
  visibility: hidden;
  opacity: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.65);
  transition: visibility 0.3s, opacity 0.3s linear;
}